.slide--slider-banners {
    padding: 0;
    margin: 0;
}

.paginationDotsContainer--slider-banners {
    padding: 18px;
}

@media screen and (max-width: 640px) {
    .paginationDotsContainer--slider-banners {
        display: none;
    } 
}