.paragraph--text-footer {
  font-family: "Red Hat Display", San Francisco, -apple-system, helvetica,
    sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  margin-top: 8px;
  margin-right: 5px;

 
}

@media screen and (max-width: 768px) {
  .paragraph--text-footer{
    font-size: 10px;

  }
 
 

}
