.paragraph--section-title-about{
  font-family: "Futura Md BT", San Francisco, -apple-system, helvetica,
    sans-serif;
  font-style: normal;
  letter-spacing: 0;
  font-weight: 500;
  color: #4D4D4D;
  font-size: 35px;
  line-height: 46.31px;
  margin-top: 0;
  margin-bottom: 20px;
}

.paragraph--section-title-about-valores{
  font-family: "Futura Md BT", San Francisco, -apple-system, helvetica,
    sans-serif;
  font-style: normal;
  letter-spacing: 0;
  font-weight: 500;
  color: #4D4D4D;
  font-size: 35px;
  line-height: 46.31px;
  padding-top: 0;
  margin: 0;
}

.paragraph--texto-quem-somos {
  font-family: "Futura Md BT", San Francisco, -apple-system, helvetica,
    sans-serif;
  font-style: normal;
  letter-spacing: 0;
  font-weight: 400;
  color: #4D4D4D;
  margin-bottom: 80px;
  font-size: 22px;
  line-height: 32px;
}

.paragraph--texto-historia {
  font-family: "Futura Md BT", San Francisco, -apple-system, helvetica,
    sans-serif;
  font-style: normal;
  letter-spacing: 0;
  font-weight: 400;
  color: #4D4D4D;
  padding-bottom: 10px;

  font-size: 22px;
  line-height: 32px;
}

@media only screen and (max-width: 640px) {
    
  .paragraph--section-title-about{
    font-family: "Futura Md BT", San Francisco, -apple-system, helvetica,
      sans-serif;
    font-style: normal;
    letter-spacing: 0;
    font-weight: 500;
    color: #4D4D4D;
    font-size: 22px;
    line-height: 29.11px;
  }

  .paragraph--section-title-about-valores{
    font-family: "Futura Md BT", San Francisco, -apple-system, helvetica,
      sans-serif;
    font-style: normal;
    letter-spacing: 0;
    font-weight: 500;
    color: #4D4D4D;
    font-size: 22px;
    line-height: 29.11px;
  }
  
  .paragraph--texto-quem-somos {
    font-family: "Futura Md BT", San Francisco, -apple-system, helvetica,
      sans-serif;
    font-style: normal;
    letter-spacing: 0;
    font-weight: 400;
    color: #4D4D4D;
  
    font-size: 14px;
    line-height: 18.52px;
  }

  .paragraph--texto-historia {
    font-family: "Futura Md BT", San Francisco, -apple-system, helvetica,
      sans-serif;
    font-style: normal;
    letter-spacing: 0;
    font-weight: 400;
    color: #4D4D4D;
  
    font-size: 14px;
    line-height: 18.52px;
  }

}

