.imageElement--img-about-us {
    max-width: 424px;
    max-height: 330px;
    padding-left: -80px;
    margin-right: 20px;
  }

.imageElement--banner-about{
    width: 100vw;
    margin-bottom: 80px;
}

  @media only screen and (max-width: 640px) {
    
    .imageElement--img-about-us {
      max-width: 90vw;
      max-height: 100vh;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 40px;
    }

    .imageElement--banner-about{
      width: 100vw;
      margin-bottom: 30px;
  }

    
   
       
      
    

  }