.imageElement--img-about-us {
    max-width: 424px;
    max-height: 330px;
    padding-left: -80px;
    margin-right: 20px;
  }

.imageElement--banner-about{
    width: 100vw;
    margin-bottom: 80px;
}

  @media only screen and (max-width: 640px) {
    
    .imageElement--img-about-us {
      max-width: 90vw;
      max-height: 100vh;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 40px;
    }

    .imageElement--banner-about{
      width: 100vw;
      margin-bottom: 30px;
  }

    
    .imageElement--logo-footer {
      max-width: 120px !important;
      max-height: 36px !important;
         
  }
    .imageElement--logo-vtex-footer {
      margin-top: -30px;
      margin-left: 130px;
      margin-right: 5px;
      max-width: 52px !important;
      max-height: 16px !important;
          
  }

  .imageElement--logo-gama-footer {
    margin-top: -20px;
    margin-top: -30px;
   
    max-width: 87px !important;
    max-height: 21px !important;
        
}
       
      
    

  }