.minicartWrapperContainer {
  padding-left: 15px;
}

.openIconContainer {
  padding: 0px;
}

.openIconContainer :global(.vtex-button) {
  transition: all 0.3s ease-in-out;
  border: none;
}

.minicartContainer :global(.vtex-button):focus,
.minicartContainer :global(.vtex-button):hover {
  background-color: transparent;
}

.minicartContainer:focus,
.minicartContainer:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1024px) {
  .minicartContainer .openIconContainer {
    z-index: 2;
    padding-right: 40px;
  }

  .minicartContainer::after {
    content: "Minha Sacola";
    max-width: 40px;
    position: absolute;
    left: 60px;

    font-family: "Red Hat Display", San Francisco, -apple-system, helvetica,
      sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #4D4D4D;
  }
}

.minicartIconContainer {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNTAgNTAiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTggMTQgNCA0OWg0MmwtNC0zNUg4eiIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZjODAwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIyIiBjbGFzcz0ic3Ryb2tlLTAwMDAwMCI+PC9wYXRoPjxwYXRoIGZpbGw9Im5vbmUiIGQ9Ik0wIDBoNTB2NTBIMHoiPjwvcGF0aD48cGF0aCBkPSJNMzQgMTl2LThjMC00Ljk3MS00LjAyOS05LTktOXMtOSA0LjAyOS05IDl2OCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZjODAwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIyIiBjbGFzcz0ic3Ryb2tlLTAwMDAwMCI+PC9wYXRoPjxjaXJjbGUgY3g9IjM0IiBjeT0iMTkiIHI9IjIiIGZpbGw9IiNmZmM4MDAiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9jaXJjbGU+PGNpcmNsZSBjeD0iMTYiIGN5PSIxOSIgcj0iMiIgZmlsbD0iI2ZmYzgwMCIgY2xhc3M9ImZpbGwtMDAwMDAwIj48L2NpcmNsZT48L3N2Zz4=");
  width: 35px;
  height: 30px;
  background-size: contain;
  background-position: center;
  margin-bottom: 4px;
}

@media screen and (min-width: 992px) {
  .minicartIconContainer {
    width: 40px;
    height: 35px;
  }
}

.openIconContainer :global(.vtex-button__label) {
  padding-left: 0px !important;
}

.cartIcon {
  display: none;
}

.minicartQuantityBadge {
  font-family: "Red Hat Display", San Francisco, -apple-system, helvetica,
  sans-serif;
  background: #FFC800;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  top: -6px;
  right: -2px;
  font-weight: 700;
}

@media screen and (min-width: 992px) {
  .minicartQuantityBadge {
    font-size: 12px;
    top: -3px;
    right: -3px;
    width: 1rem;
  }
}

.minicartTitle {
  font-size: 0px;
  text-align: center;
  margin-top: 20px;
}

.closeIconButton {
  position: absolute;
  top: 22px;
  left: 20px;
}

.closeIcon {
  display: none;
}

.closeIconButton::before {
  content: "X";
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #4f4f4f;
}

.minicartTitle::before {
  content: "Minha sacola";
  font-family: "Red Hat Display", San Francisco, -apple-system, helvetica, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.drawer {
  min-width: 500px !important;
  max-width: 500px !important;
}

.minicartCheckoutButton :global(.vtex-button) {
  transition: all 0.3s ease;
  min-height: 48px;
  outline: none;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  background-color: #FFC800;
  margin-bottom: 10px;
  border: 4px solid #FFC800;
}

.minicartCheckoutButton:hover :global(.vtex-button) {
  border: 4px solid #4D4D4D;
  background-color: #4D4D4D;
}

.minicartCheckoutButton :global(.vtex-button__label) {
  text-transform: none;
  font-family: "Red Hat Display", San Francisco, -apple-system, helvetica,
    sans-serif;
  font-size: 18px;

  transition: all 0.3s ease-in-out;
}

.minicartSideBarContentWrapper {
  padding-top: 10px;
  height: 97vh !important;
}

@media screen and (max-width: 1024px) {
  .minicartWrapperContainer {
    padding: 0px;
    display: flex;
    justify-content: flex-end;
  }

  .drawer {
    min-width: unset !important;
  }

  .minicartTitle {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .drawer {
    width: 100% !important;
  }
}

.minicartProductListContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #FFF;
  margin: 0;
}

.minicartProductListContainer::-webkit-scrollbar {
  width: 5px;
  background-color: #FFF;
}

.minicartProductListContainer::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #767576;
}

.minicartSummary--minicart-summary--container {
  font-family: "Red Hat Display", San Francisco, -apple-system, helvetica,
    sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
}
