.paragraph--section-title-politica{
  font-family: "Red Hat Display", San Francisco, -apple-system, helvetica,
    sans-serif;
  font-style: normal;
  letter-spacing: 0;
  font-weight: 600;
  color: #5a5a5a;
  font-size: 20px;
  line-height: 35px;
  margin-top: 0;
  margin-bottom: -10px;
  padding: 0;
}

.paragraph--section-title-politica-main{
  font-family: "Red Hat Display", San Francisco, -apple-system, helvetica,
    sans-serif;
  font-style: normal;
  letter-spacing: 0;
  font-weight: 500;
  color: #4D4D4D;
  font-size: 35px;
  line-height: 46.31px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0;

}

.paragraph--texto-politica {
  font-family: "Red Hat Display", San Francisco, -apple-system, helvetica,
    sans-serif;
  font-style: normal;
  letter-spacing: 0;
  font-weight: 400;
  color: #4D4D4D;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 28px;
  padding: 0;
}

@media only screen and (max-width: 640px) {
    
  .paragraph--section-title-politica{
    font-family: "Red Hat Display", San Francisco, -apple-system, helvetica,
      sans-serif;
    font-style: normal;
    letter-spacing: 0;
    font-weight: 600;
    color: #4D4D4D;
    font-size: 16px;
    line-height: 22px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 5px; 
  }

  .paragraph--section-title-politica-main{
    font-family: "Red Hat Display", San Francisco, -apple-system, helvetica,
      sans-serif;
    font-style: normal;
    letter-spacing: 0;
    font-weight: 500;
    color: #4D4D4D;
    font-size: 24px;
    line-height: 22.11px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
  
  }

  .paragraph--texto-politica {
    font-family: "Red Hat Display", San Francisco, -apple-system, helvetica,
      sans-serif;
    font-style: normal;
    letter-spacing: 0;
    font-weight: 400;
    color: #4D4D4D;
    font-size: 14px;
    line-height: 18.52px;
    margin-top: 15px;
    margin-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
  }


}

